<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.js"></script>
    <style>
        .orange {
            background-color: orange;
            margin: 0 auto;
            padding: 0;
            width: 500px;
            text-align: center;
        }
        
        .jz {
            margin: 0 auto;
            padding: 0;
            text-align: center;
        }
        
        .table {
            margin: 0 auto;
            padding: 0;
            text-align: center;
            width: 500px;
            background-color: skyblue;
        }
    </style>
</head>

<body>
    <div id="app">
        <h1 class="jz">{{title}}</h1>
        <br>
        <div :class="table">
            <span>编号</span> <input type="text" v-model="id">
            <span>名称</span> <input type="text" v-model="name">
            <button @click="add">提交</button>
        </div>
        <div>
            <table :class="table">
                <thead>
                    <tr>
                        <th v-for="item in thead">{{item}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in sj" :key="item.id">
                        <td v-for="k in item">{{k}} </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>

            <span><input type="text" v-model="fr"></span>
            <button @click="click">add</button>
            <button @click="del">del</button>
            <button @click="th">替换</button>
            <ul>
                <li v-for="k in list">{{k}}</li>
            </ul>

            <div>
                <div>{{info.name}}</div>
                <div>{{info.age}}</div>
                <div>{{info.gender}}</div>
            </div>
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                fr: '',
                list: ['1', '2', '3'],
                info: {
                    name: 'lise',
                    age: 18
                },
                title: '图书管理',
                id: '',
                name: '',
                orange: {
                    orange: 1
                },
                table: {
                    table: 1
                },
                sj: [{
                    id: 1,
                    name: '三国演义',
                    time: '2021-1-2',
                    cz: `<h1>1</h1>`
                }, {
                    id: 2,
                    name: '水浒传',
                    time: '2021-1-3'
                }, {
                    id: 3,
                    name: '红楼梦',
                    time: '2021-1-5'
                }, {
                    id: 4,
                    name: '西游记',
                    time: '2021-1-8'
                }],
                thead: ['编号', '名称', '时间', '操作']
            },
            methods: {
                add() {
                    alert(this.id)
                    sj.push({
                        id: this.id,
                        name: this.name
                    })
                },
                click() {
                    this.list.push(this.fr)

                },
                del() {
                    this.list.pop()
                },
                th() {
                    this.list = this.list.slice(0, 2);
                }
            },
            computed: {

            },
            watch: {

            }
        })

        vm.list[1] = 'ddd' //网页数据没有被渲染，但数组值已经被改掉了

        //响应式渲染数据 1
        Vue.set(vm.list, 2, 'cc')

        //响应式渲染数据    2
        vm.$set(vm.list, 1, 'ff')
        vm.info.gender = 'nan'

        vm.info.gender = 222 // 修改内容没有被渲染到页面

        //

        vm.$set(vm.info, 'gender', 'hhh')
    </script>
</body>

</html>