<!DOCTYPE html>
<html lang="cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.js"></script>
    <style>
        .current {
            color: red;
        }
    </style>
</head>

<body>
    <div id="app">

        <menu-item :list='list'>
            <template v-slot:default="slotProps">
              <strong class="current" v-if="slotProps.info.id==light">  {{slotProps.info.name}}</strong>
              <span v-else>{{slotProps.info.name}}</span>
            </template>
        </menu-item>
    </div>
    <script>
        Vue.config.devtools = true
        Vue.component('menu-item', {
            props: ['list'],
            template: `
            <div>
                <li :key=item.id v-for='item in list'>
                       <slot :info=item>{{item.name}}</slot> 
                </li> 
            </div>
            `
        })
        var vm = new Vue({
            el: '#app',
            data: {
                list: [{
                    id: 1,
                    name: 'apple'
                }, {
                    id: 2,
                    name: 'orange'
                }, {
                    id: 3,
                    name: 'banana'
                }],
                light: 1
            },
            methods: {

            },
            computed: {

            },
            watch: {

            }
        })
    </script>
</body>

</html>