.box {
    margin: 100px auto;
    text-align: center;
    position: relative;
}

.kk {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: 600px;
    border: red solid 1px;
}

.tt {
    position: relative;
    height: 50px;
    border-bottom: black 1px solid;
    width: 100%;
}

.gz {
    position: relative;
    height: 100%;
    width: 10%;
    /* background-color: pink; */
    float: left;
    border-right: black solid 1px;
    line-height: 50px;
}

.ac {
    border-bottom: white 1px solid;
}

.gz>span:nth-child(2) {
    content: 'x';
    position: absolute;
    right: 3px;
    top: -18px;
}

.add {
    content: '+';
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    border: 1px #333 solid;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.c {
    position: absolute;
    text-align: left;
    display: none;
}

.cs {
    display: block;
}

.content {
    position: relative;
    padding: 5px;
}