/* 修改container最大宽度1280px */

@media screen and (min-width:1280px) {
    .container {
        width: 1280px;
    }
}

body {
    background-color: #f5f5f5;
}

.container {
    background-color: #fff;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.lo-l {
    background-color: #7abaee;
}

.lo-l img {
    /* width: 100%; */
    max-width: 100%;
    display: block;
    margin: 0 auto;
}


/* 进入超小屏幕隐藏图片 */


/* 事先准备一个盒子，只有在超小屏幕显示，平时隐藏 */

.pdd {
    padding: 0;
}

.pdd li {
    list-style: none;
    /* float: left; */
}

.pdd ul {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 0px;
}


/* .pdd ul li:hover {
    background-color: #fff;
} */

.lo-l span {
    display: block;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    text-align: center;
}


/* 进入小屏幕和xs让li浮动 */

@media screen and (max-width:991px) {
    .pdd li {
        float: left;
        width: 20%;
    }
    article {
        margin-top: 10px;
    }
}


/* 进入xs时候文字14px */


/* 修改图片宽高 */

@media screen and (max-width:767px) {
    .pdd li a {
        font-size: 14px;
    }
    .news li:nth-child(1) {
        width: 100% !important;
    }
    .news li {
        width: 50% !important;
    }
    .publish h3 {
        font-size: 18px;
    }
}

.pdd li a {
    display: block;
    height: 50px;
    text-decoration: none;
    color: #666;
    line-height: 50px;
    font-size: 16px;
    padding-left: 15px;
}

.pdd li:hover {
    background-color: #fff;
}

.pdd li:hover a {
    color: #333;
}

.pdd a::before {
    vertical-align: middle;
    padding-right: 5px;
}

.news li {
    width: 25%;
    float: left;
    height: 128px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.news li>a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    color: #fff;
}

.news li:nth-child(1) {
    width: 50%;
    height: 266px;
    /* background-color: pink; */
}

.news li a img {
    width: 100%;
    height: 100%;
    padding: 0;
}

.news li a p,
.carousel-caption {
    padding: 0 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 41px;
    font-size: 12px;
    line-height: 41px;
    background-color: rgba(0, 0, 0, .5);
    margin-bottom: 0;
}

.carousel-caption {
    font-size: 16px;
}

.news li:nth-child(1) p {
    font-size: 20px;
    line-height: 41px;
}

.nr {
    background-color: pink;
}

.publish {
    border-top: 1px solid #ccc;
}

.publish img {
    width: 100%;
    padding-top: 10px;
}

.publish .row {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    /* width: 100%; */
}

.banner img {
    width: 100%;
}

.hot {
    border: 1px solid #ccc;
    display: block;
    margin-top: 20px;
    padding: 0 20px 20px;
}

.hot span {
    border-radius: 0;
    margin-bottom: 20px;
}